# ignore temp files w/ trailing ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fdb_latexmk
*.fls
*.RData
*.Rhistory
*.pdf
*.tex
LICENSE
README

# don't ignore the .gitignore file
!.gitignore

# ignore folders
back_up
report
blinded_version
cache
Comments
datasets
figure
Other_DOs_NotWorkingDTAs
Paper_BackUp
Paper_Presentation

*.docx

LICENSE

*.md

*.rdx

*.rdb

Appendix_LAPS_Clientelism_Brazil_cache/latex/__packages

HW1

Bahamonde_Clientelism_Paper.rnw

3 Way Int Term_PAPER ICPSR LAZY/Rcode_VH_Fig3_DL.R

3 Way Int Term_PAPER ICPSR LAZY/Rcode_VH_Fig2.R
