# ignore temp files w/ trailing ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fdb_latexmk
*.fls
*.Rhistory
*.tex
*.docx
LICENSE
README

# don't ignore the .gitignore file
!.gitignore

# ignore folders
back_up
report
blinded_version
cache
Comments
figure
Other_DOs_NotWorkingDTAs
Paper_BackUp
Paper_Presentation
3 Way Int Term_PAPER ICPSR LAZY

Bahamonde_Clientelism_Paper.txt

Bahamonde_Clientelism_Paper\.pdf
